
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="first">
    <h1>Nivetha</h1>
    <h1>Ramachandran</h1>
    <h2>Developer. Learner. Believer.</h2>
</div>
<div class="flex-container">
    <div class="container">
        <img src="~/images/1.jpg" class="image">
        <div class="overlay">
            <div class="text">
                <h4>University of Mumbai</h4>
                <p>Graduation</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="~/images/2.jpg" class="image">
        <div class="overlay">
            <div class="text">
                <h4>Ingram Micro</h4>
                <p>APAC team</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="~/images/3.jpg" class="image">
        <div class="overlay">
            <div class="text">
                <h4>Paper Presentation</h4>
                <p>University of Mumbai</p>
            </div>
        </div>
    </div>

    <div class="container">
        <img src="~/images/5.jpg" class="image">
        <div class="overlay">
            <div class="text">
                <h4>PostGraduation</h4>
                <p>Syracuse University</p>
            </div>
        </div>
    </div>
</div>
@*<div id="resume">
    @if (User.IsInRole("Admin"))
    {
        <form asp-controller="FileUpload" asp-action="UploadFile" method="post"
              enctype="multipart/form-data">

            <input type="file" name="file" />
            <button type="submit">Upload File</button>
        </form>
    }

</div>
<div id="resume">
    @*<a href='../APIPath/Download?fileName=request.pdf'>Download file</a>
    <form asp-controller="FileUpload" asp-action="Download" method="get"
          enctype="multipart/form-data">
        <button type="submit">Download</button>
    </form>
</div>*@


